<% provide(:title, 'Add Courses') %>
<h1>Add new course below</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@course) do |c| %>

      <%= c.label :name %>
      <%= c.text_field :name %>

      <%= c.label :details, "Details of the course" %>
      <%= c.text_field :details %>

      <%= c.label :fee, "Payment - Number in US$" %> 
      <%= c.text_field :fee %> 

      <%= c.submit "Create new course", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>